<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Prediction</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Brain Tumor Prediction</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png" required>
        <button type="submit">Predict</button>
    </form>
    {% if result %}
        <p>Result: {{ result }}</p>
    {% endif %}
</body>
</html>